 <div class="ad-container">
        <img src="imagenes\add1.jpg" alt="Anuncio 1" style="max-width: 100%; margin: 0 auto;">
        <a href="http://www.blankwebsite.com/">
            <h2>Apuesta en BetPulse!</h2>
        </a>
        <img src="imagenes\add2.jpg" alt="Anuncio 1" style="max-width: 80%; margin: 0 auto;">
        <a href="http://www.blankwebsite.com/">
            <h2>Visita HSYAH!</h2>
        </a>
        <img src="imagenes\add3.jpg" alt="Anuncio 1" style="max-width: 80%; margin: 0 auto;">
        <a href="http://www.blankwebsite.com/">
            <h2>Compra en SportsWorld!</h2>
        </a>
    </div>
    <div class="text-center w-full my-16">
        <p>Indicanos como te podemos ayudar:</p>
        <form class="centered-form" id="contactForm" onsubmit="return validarFormulario()">
            <label for="nombre">*Nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="apellidos">*Apellidos</label>
            <input type="texr" id="apellidos" name="apellidos" required>
            
            <label for="email">*Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="comments">*A continuacion detallanos el motivo de tu eleccion</label>
            <textarea id="comments" name="comments" rows="4" required></textarea>
            <div class="button-container">
                <button type="submit">Enviar</button>
                <button type="button" class="cancel" onclick="resetForm()">Cancelar</button>
            </div>
        </form>
    </div>